@refresh: #f87056;
@white: #ffffff;
@black: #000000;
@darkgrey: #555551;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: @darkgrey;
}

p {
    margin: 0;
}

.visualCaptcha {
    margin-bottom: 20px;
    text-align: center;

    .visualCaptcha-hide {
        display: none !important;
    }

    .visualCaptcha-possibilities {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 1rem;
        .img {
            cursor: pointer;
            display: inline-block;
            width: 46px;
            height: 46px;
            padding: 5px;
            margin: 0 5px;
            border: 2px solid @white;
            img {
                width: 100%;
                height: 100%;
            }
            &.visualCaptcha-selected {
                background-color: #c1f7e8;
                border: 2px dashed #099a9f;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
    }

    .accessibility-description, .visualCaptcha-explanation {
        margin-bottom: 1rem;
    }

    .visualCaptcha-button-group {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 1rem;
        .visualCaptcha-refresh-button{
            background-color: @refresh;
            border: 5px solid @white;
        }
        div {
            cursor: pointer;
            padding: 5px 10px;
            margin: 0 5px;
            display: inline-block;
            text-align: center;
            border: 1px solid @darkgrey;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            font-size: 1.4rem;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}

body {
    background-color: #34495e;
}

.container {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 80px 30px;
    background-color: @white;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    -webkit-box-shadow: rgba(0,0,0,0.4) 0 0 25px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 0 25px;
    box-shadow: rgba(0,0,0,0.4) 0 0 25px;
}

input, textarea {
    padding: 13px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    outline: 0;
    font: normal 13px/1.4 "Helvetica Noue", Verdana, Tahoma, sans-serif;
    width: 100%;
    background: @white;
    margin-bottom: 1rem;
}
  
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}
 
button {
    min-width: 180px;
    min-height: 42px;
    width: auto;
    display: inline-block;
    padding: 9px 15px;
    margin: 5px auto;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 14px;
    color: @white; 
    background: @darkgrey;
    &.info {
        background: #4c80bd;
    }
    &.submit {
    }
}  


